.container {
  width: 80%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#chat {
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow-y: scroll;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
}
/* Messages from 'them' */
.message {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  background-color: #f1f0f0;
  align-self: start;
}
/* Messages from 'me' (responses) */
.message.from-me {
  background-color: #007bff;
  color: white;
  align-self: end;
}


@media (max-width: 600px) {
  .container {
    width: 100%;
    max-width: 100%;
  }

  video {
    width: 90%;  /* Slightly smaller to ensure it fits well */
    margin: 5px auto;  /* Adjust margin for smaller screens */
  }

  .message {
    padding: 8px;  /* Slightly less padding to save space */
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}
